{
  "rules": {
    "semi": [2, "always"],
    "no-multiple-empty-lines": "off",
    "space-before-function-paren": [2, "never"],
    "comma-dangle": "off",
    "lines-between-class-members": "off",
    "quote-props": "off"
  }
}