<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="/static/form.css"/>
    <style>body { background: {{branding.backgroundColor}}; }</style>
  </head>
  <body>
    <h1 class="center">Error</h1>
    <p class="center">
      <img src="/static/X_mark.svg" alt="red cross" height="100" width"100" />
      <br />
      Something is wrong, and the HTTP status is {{status}}.
    </p>  
    <h2>Detail</h2>
    <pre>
{{json .}}
    </pre>
  </body>
</html>
