# On caliban, copy or hard-link (do not symbolic-link) this file to
# /lib/systemd/system/listener-openurl.service

[Unit]
Description=OpenURL listener for ReShare
Documentation=https://github.com/openlibraryenvironment/listener-openurl/blob/master/doc/manual.md
After=network.target
ConditionPathExists=/home/mike/listener-openurl/config/caliban.json

[Service]
Type=simple
WorkingDirectory=/home/mike/listener-openurl
ExecStart=/usr/bin/node src/listener-openurl.js config/caliban.json
StandardOutput=syslog
SyslogIdentifier=listener-openurl
# And add this to /etc/rsyslog.conf:
#	listener-openurl        /var/log/listener-openurl
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target
