<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Request item — {{branding.customerName}}</title>
    <link rel="stylesheet" type="text/css" href="/static/form1.css"/>
    <style>body { background: {{branding.backgroundColor}}; }</style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
  </head>
  <body>
    <div class="positioner">
      <div class="site" lang="en" dir="ltr">
        <div class="site__header"></div>
        <div class="site__body">
          <form class="page" id="form">
            <div class="sr-only" id="sr-announcer" aria-live="assertive"></div>
            <div class="page__header">
              <h1>Request item</h1>
              <div class="logo"><a href="{{branding.logoLink}}" target="_blank" aria-label="{{branding.customerName}}"><img src="{{branding.logoUrl}}" aria-hidden="true"></a></div>
            </div>
            <div class="page__body">

              <h2>Request</h2>

              <label class="key-value-pair" for="input-service">
                <div class="key">Service</div>
                <div class="value" id="input-service">
                  <input type="radio" id="loan" name="svc_id" value="loan" checked>
                  <label for="loan">Loan</label>
                  <input type="radio" id="copy" name="svc_id" value="copy">
                  <label for="copy">Copy</label>
                </div>
              </label>

              <label class="key-value-pair" for="input-copyright">
                <div class="key">Copyright type</div>
                <div class="value">
                  <select class="select" id="input-copyright" name="rft.copyrightType" value="{{'rft.copyrightType'}}">
                    <option value="">(None selected)</option>
                    <option value="pd">Public domain</option>
                    <option value="cc-by">Creative Commons attribution</option>
                    <option value="arr">All rights reserved</option>
                  </select>
                </div>
              </label>

              <label class="key-value-pair is-required" for="input-title">
                <div class="key">Title</div>
                <div class="value">
                  <input class="should-validate" id="input-title" autofocus="true" type="text" name="rft.title" value="{{'rft.title'}}" aria-required="true">
                </div>
              </label>

              <label class="key-value-pair" for="input-subtitle">
                <div class="key">Subtitle</div>
                <div class="value">
                  <input id="input-subtitle" type="text" name="rft.subtitle" value="{{'rft.subtitle'}}">
                </div>
              </label>

              <label class="key-value-pair is-required" for="input-author">
                <div class="key">Author</div>
                <div class="value">
                  <input class="should-validate" id="input-author" type="text" name="rft.au" value="{{'rft.au'}}" aria-required="true">
                </div>
              </label>

              <label class="key-value-pair" for="input-sponsoringBody">
                <div class="key">Sponsoring body</div>
                <div class="value">
                  <input id="input-sponsoringBody" type="text" name="rft.sponsoringBody" value="{{'rft.sponsoringBody'}}">
                </div>
              </label>

              {{#unless digitalOnly}}
              <label class="key-value-pair" for="input-11">
                <div class="key">Pick up location</div>
                <div class="value">
                  <select class="select" id="input-11" name="svc.pickupLocation" value="{{'svc.pickupLocation'}}">
                    {{#unless onePickupLocation}}
                    <option value="">(None selected)</option>
                    {{/unless}}
                    {{#each pickupLocations}}
                      <option value="{{this.code}}" {{this.selected}}>{{this.name}}</option>
                    {{/each}}
                  </select>
                  *
                  {{#if noPickupLocation}}
                    <br />
                    <span class="error">Please supply a pickup location.</span>
                  {{/if}}
                </div>
              </label>
              {{/unless}}

              <h2>Part details</h2>

              <label class="key-value-pair" for="input-authorOfComponent">
                <div class="key">Author of chapter/article/paper</div>
                <div class="value">
                  <input id="input-authorOfComponent" type="text" name="rft.authorOfComponent" value="{{'rft.authorOfComponent'}}">
                </div>
              </label>

              <label class="key-value-pair" for="input-titleOfComponent">
                <div class="key">Title of chapter/article/paper</div>
                <div class="value">
                  <input id="input-titleOfComponent" type="text" name="rft.titleOfComponent" value="{{'rft.titleOfComponent'}}">
                </div>
              </label>

              <label class="key-value-pair" for="input-9">
                <div class="key">Volume(s) needed</div>
                <div class="value">
                  <input id="input-9" type="text" name="rft.volume" value="{{'rft.volume'}}">
                </div>
              </label>

              <label class="key-value-pair" for="input-pagesRequested">
                <div class="key">Pages</div>
                <div class="value">
                  <input id="input-pagesRequested" type="text" name="rft.pagesRequested" value="{{'rft.pagesRequested'}}">
                </div>
              </label>


              <h2>Publication details</h2>

              <label class="key-value-pair" for="input-jtitle">
                <div class="key">Series title and numbering</div>
                <div class="value">
                  <input id="input-jtitle" type="text" name="rft.jtitle" value="{{'rft.jtitle'}}">
                </div>
              </label>

              <label class="key-value-pair" for="input-4">
                <div class="key">Publisher</div>
                <div class="value">
                  <input id="input-4" type="text" name="rft.pub" value="{{'rft.pub'}}">
                </div>
              </label>
              <label class="key-value-pair" for="input-5">
                <div class="key">Place of publication</div>
                <div class="value">
                  <input id="input-5" type="text" name="rft.place" value="{{'rft.place'}}">
                </div>
              </label>
              <label class="key-value-pair is-required" for="input-publication-date">
                <div class="key">Year of publication</div>
                <div class="value">
                  <input class="should-validate" id="input-publication-date" type="number" name="rft.date" value="{{'rft.date'}}" pattern="[0-9]*" aria-required="true">
                </div>
              </label>
              <label class="key-value-pair" for="input-6">
                <div class="key">Edition</div>
                <div class="value">
                  <input id="input-6" type="text" name="rft.edition" value="{{'rft.edition'}}">
                </div>
              </label>
              <div class="nyi">Item description</div>
              <label class="key-value-pair" for="input-7">
                <div class="key">ISBN</div>
                <div class="value"> 
                  <input id="input-7" type="text" name="rft.isbn" value="{{'rft.isbn'}}">
                </div>
              </label>
              <div class="nyi">ISSN</div>
              <div class="nyi">UPC</div>

              <h2>(Empty heading)</h2>
              <div class="nyi">Format</div>

              <h2>Additional information</h2>
              <div class="nyi">This item is not needed after</div>
              <div class="nyi">Special instructions</div>

              <h2>(Fields not in the Minitex form)</h2>
              <label class="key-value-pair" for="input-10">
                <div class="key">Note</div>
                <div class="value">
                  <input id="input-10" type="text" name="svc.note" value="{{'svc.note'}}">
                </div>
              </label>

            </div>
            <div class="page__footer">
              <div class="button-group">
                <button class="button--primary" id="submit" type="submit">Request item</button>
                <!--button.button--secondary.flex-order-minus-one Cancel-->
              </div>
            </div>
            {{{allValues}}}
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
