<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Confirm request — {{branding.customerName}}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <style>body { background: {{branding.backgroundColor}}; }</style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
  </head>
  <body>
    <div class="positioner">
      <div class="site" lang="en" dir="ltr">
        <div class="site__header"></div>
        <div class="site__body">
          <form class="page" id="form">
            <div class="page__header">
              <h1>Confirm request</h1>
              <div class="logo"><a href="{{branding.logoLink}}" target="_blank" aria-label="{{branding.customerName}}"><img src="{{branding.logoUrl}}" alt="{{branding.customerName}}" aria-hidden="true"></a></div>
            </div>
            <div class="page__body">

              <div class="summary">
                {{#if isCopy}}
                  <h2>
                    {{'rft.titleOfComponent'}}
                    ({{'rft.genre'}})
                  </h2>
                  <p>
                    By {{'rft.authorOfComponent'}}.
                    Published {{'rft.date'}}.
                  </p>
                  <p>
                    Copyright type {{'rft.copyrightType'}}
                  </p>
                {{else}}
                  <h2>
                    {{'rft.title'}}
                    {{#if hasGenre}}
                      ({{'rft.genre'}})
                    {{/if}}
                  </h2>
                  <p>
                    By {{'rft.au'}}.
                    {{#if hasDate}}
                      Published {{'rft.date'}}.
                    {{/if}}
                    {{#if hasISBN}}
                      ISBN {{'rft.isbn'}}.
                    {{/if}}
                  </p>
                {{/if}}
              </div>

              {{#unless digitalOnly}}
              <div class="key-value-pair is-required">
                <label class="key" for="input-pickupLocation">Pick up location</label>
                <div class="value">
                  <select class="select" id="input-pickupLocation" name="svc.pickupLocation">
                    {{#unless onePickupLocation}}
                    <option value="">(None selected)</option>
                    {{/unless}}
                    {{#each pickupLocations}}
                      <option value="{{this.code}}" {{this.selected}}>{{this.name}}</option>
                    {{/each}}
                  </select>
                  {{#if noPickupLocation}}
                    <div class="error">Please supply a pickup location.</div>
                  {{/if}}
                </div>
              </div>
              {{/unless}}

              <div class="key-value-pair">
                <label class="key" for="input-neededBy">Date needed by</label>
                <div class="value">
                  <input id="input-neededBy" type="date" name="svc.neededBy" value="{{'svc.neededBy'}}">
                </div>
              </div>

              <div class="key-value-pair">
                <label class="key" for="input-volume">Volume/parts needed</label>
                <div class="value">
                  <input id="input-volume" type="text" name="rft.volume" value="{{'rft.volume'}}">
                </div>
              </div>

              <div class="key-value-pair">
                <label class="key valign-top" for="input-note">Patron notes</label>
                <div class="value">
                  <textarea id="input-note" name="svc.note" rows="3" maxlength="255">{{'svc.note'}}</textarea>
                </div>
              </div>
            </div>

            <div class="page__footer">
              <div class="button-group">
                <button class="button--primary" id="submit" type="submit">Confirm request</button>
              </div>
            </div>
            {{{valuesNotShownInForm}}}
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
