<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Request item — {{branding.customerName}}</title>
    <style>.onlyForCopy { /* To be set dynamically */ }</style>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <style>body { background: {{branding.backgroundColor}}; }</style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <script src="/static/setServiceType.js"></script>
    <script>function setServiceTypeWithParams(st) { setServiceType(st, {{firstTry}}, {{npl}}) }</script>
  </head>
  <body>
    <div class="positioner">
      <div class="site" lang="en" dir="ltr">
        <div class="site__header"></div>
        <div class="site__body">
          <form class="page" id="form">
            <div class="page__header">
              <h1>Request item</h1>
              <div class="logo"><a href="{{branding.logoLink}}" target="_blank" aria-label="{{branding.customerName}}"><img src="{{branding.logoUrl}}" alt="{{branding.customerName}}" aria-hidden="true"></a></div>
            </div>
            <div class="page__body">

              <h2>Request type</h2>

              <div class="key-value-pair">
                <div class="key">Service type</div>
                <div class="value">
                  {{#each services}}
                    <label for="service_{{code}}">{{name}}</label>
                    <input type="radio" id="service_{{code}}" name="svc_id" value="{{code}}" {{this.checked}}
                           onchange="setServiceTypeWithParams('{{code}}')">
                  {{/each}}
                </div>
              </div>

              {{#unless digitalOnly}}
              <div id="div-pickupLocation" class="key-value-pair">
                <label class="key" for="input-pickupLocation">Pick up location</label>
                <div class="value">
                  <select class="select" id="input-pickupLocation" name="svc.pickupLocation">
                    {{#unless onePickupLocation}}
                    <option value="">(None selected)</option>
                    {{/unless}}
                    {{#each pickupLocations}}
                      <option value="{{this.code}}" {{this.selected}}>{{this.name}}</option>
                    {{/each}}
                  </select>
                  <div id="error-pickupLocation" class="error"></div>
                </div>
              </div>
              {{/unless}}

              <div id="div-genre" class="key-value-pair">
                <label class="key" for="input-genre">Format</label>
                <div class="value">
                  <select class="select" id="input-genre" name="rft.genre">
                    {{#each formats}}
                      <option value="{{this.code}}" {{this.selected}}>{{this.name}}</option>
                    {{/each}}
                  </select>
                  <div id="error-genre" class="error"></div>
                </div>
              </div>

              <div class="key-value-pair">
                <label class="key" for="input-neededBy">Date needed by</label>
                <div class="value">
                  <input id="input-neededBy" type="date" name="svc.neededBy" value="{{'svc.neededBy'}}">
                </div>
              </div>

              <div id="div-copyrightType" class="onlyForCopy key-value-pair">
                <label class="key" for="input-copyrightType">Copyright type</label>
                <div class="value">
                  <select class="select" id="input-copyrightType" name="rft.copyrightType">
                    {{#each copyrightTypes}}
                      <option value="{{this.code}}" {{this.selected}}>{{this.name}}</option>
                    {{/each}}
                  </select>
                  <div id="error-copyrightType" class="error"></div>
                </div>
              </div>


              <h2>Details</h2>

              <div id="div-title" class="key-value-pair">
                <label id="label-title" class="key" for="input-title">Title</label>
                <div class="value">
                  <input class="should-validate" id="input-title" autofocus type="text" name="rft.title" value="{{'rft.title'}}" aria-required="true">
                  <div id="error-title" class="error"></div>
                </div>
              </div>

              <div class="key-value-pair">
                <label class="key" for="input-subtitle">Subtitle</label>
                <div class="value">
                  <input id="input-subtitle" type="text" name="rft.subtitle" value="{{'rft.subtitle'}}">
                </div>
              </div>

              <div id="div-author" class="key-value-pair">
                <label class="key" for="input-author">Author</label>
                <div class="value">
                  <input class="should-validate" id="input-author" type="text" name="rft.au" value="{{'rft.au'}}" aria-required="true">
                  <div id="error-author" class="error"></div>
                </div>
              </div>

              <div class="key-value-pair">
                <label class="key" for="input-isbn">ISBN</label>
                <div class="value"> 
                  <input id="input-isbn" type="text" name="rft.isbn" value="{{'rft.isbn'}}">
                </div>
              </div>

              <div class="key-value-pair">
                <label class="key" for="input-issn">ISSN</label>
                <div class="value"> 
                  <input id="input-issn" type="text" name="rft.issn" value="{{'rft.issn'}}">
                </div>
              </div>


              <div class="onlyForCopy">
                <h2>Part Details</h2>

                <p>If you only require a copy of part of this item please enter the details here.</p>

                <div id="div-titleOfComponent" class="key-value-pair">
                  <label class="key" for="input-titleOfComponent">Title of chapter/article/paper</label>
                  <div class="value">
                    <input id="input-titleOfComponent" type="text" name="rft.titleOfComponent" value="{{'rft.titleOfComponent'}}">
                    <div id="error-titleOfComponent" class="error"></div>
                  </div>
                </div>

                <div id="div-authorOfComponent" class="key-value-pair">
                  <label class="key" for="input-authorOfComponent">Author of chapter/article/paper</label>
                  <div class="value">
                    <input id="input-authorOfComponent" type="text" name="rft.authorOfComponent" value="{{'rft.authorOfComponent'}}">
                    <div id="error-authorOfComponent" class="error"></div>
                  </div>
                </div>

                <div class="key-value-pair">
                  <label class="key" for="input-volume">Volume/parts needed</label>
                  <div class="value">
                    <input id="input-volume" type="text" name="rft.volume" value="{{'rft.volume'}}">
                  </div>
                </div>

                <div class="key-value-pair">
                  <label class="key" for="input-issue">Issue</label>
                  <div class="value">
                    <input id="input-issue" type="text" name="rft.issue" value="{{'rft.issue'}}">
                  </div>
                </div>

                <div class="key-value-pair">
                  <label class="key" for="input-pagesRequested">Pages</label>
                  <div class="value">
                    <input id="input-pagesRequested" type="text" name="rft.pagesRequested" value="{{'rft.pagesRequested'}}">
                  </div>
                </div>
              </div>



              <h2>Publication Details</h2>

              <div class="key-value-pair">
                <label class="key" for="input-jtitle">Series title and numbering</label>
                <div class="value">
                  <input id="input-jtitle" type="text" name="rft.jtitle" value="{{'rft.jtitle'}}">
                </div>
              </div>

              <div class="key-value-pair">
                <label class="key" for="input-publisher">Publisher</label>
                <div class="value">
                  <input id="input-publisher" type="text" name="rft.pub" value="{{'rft.pub'}}">
                </div>
              </div>

              <div class="key-value-pair">
                <label class="key" for="input-place">Place of publication</label>
                <div class="value">
                  <input id="input-place" type="text" name="rft.place" value="{{'rft.place'}}">
                </div>
              </div>

              <div id="div-publicationDate" class="key-value-pair">
                <label class="key" for="input-publicationDate">Year of publication</label>
                <div class="value">
                  <input class="should-validate" id="input-publicationDate" name="rft.date" value="{{'rft.date'}}" pattern="[0-9]*" aria-required="true">
                  <div id="error-publicationDate" class="error"></div>
                </div>
              </div>

              <div class="key-value-pair">
                <label class="key" for="input-edition">Edition</label>
                <div class="value">
                  <input id="input-edition" type="text" name="rft.edition" value="{{'rft.edition'}}">
                </div>
              </div>


              <h2>Additional information</h2>

              <div class="key-value-pair">
                <label class="key valign-top" for="input-note">Patron notes</label>
                <div class="value">
                  <textarea id="input-note" name="svc.note" rows="3" maxlength="255">{{'svc.note'}}</textarea>
                </div>
              </div>

            </div>

            <div class="page__footer">
              <div class="button-group">
                <button class="button--primary" id="submitButton" type="submit">Request item</button>
              </div>
            </div>
            {{{valuesNotShownInForm}}}
          </form>
        </div>
      </div>
    </div>

    <!-- Compliance Modal -->
    <div id="complianceModal" class="modal hide">
      <div class="modal-content">
        <span class="close" onclick=closeModal()>X</span>
        <h1>{{branding.complianceModal.header}}</h1>
        <p class="margin-y-30">{{branding.complianceModal.body}}</p>
        <p class="margin-bottom-30">{{branding.complianceModal.footer}}</p>
        <button id="acceptComplianceButton" class="button--primary">Accept</button>
      </div>
    </div>

    <script>setServiceTypeWithParams('{{svc_id}}')</script>
    <script>initializeComplianceCheck('{{svc_id}}')</script>
  </body>
</html>
